[user]
    email = adriangoga0@gmail.com
    name = Gogis0
[color]
    diff = auto
    status = auto
    branch = auto
[core]
    editor=vim
[color "branch"]
    current = yellow reverse
    local = yellow 
    remote = green
[color "diff"]
    plain = white
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red blink
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[push]
    default = matching
